---
layout: default
---

<section id="about" class="about">
  <div class="wrapper relative">
    <div class="info left">
        {% for item in site.data.banner.Title %}
          <h1>{{ item }}</h1>
        {% endfor %}
        {% for item in site.data.banner.Subtitle %}
          <p>{{ item }}</p>
        {% endfor %}
    </div>
    <img class="quickbooks" src="/images/quickbooks.png" alt="">
  </div>
</section>
<section id="services" class="services">
  <div class="wrapper services-wrapper">
    <div class="info">
        {% for item in site.data.english.title %}
          <h2>{{ item }}</h2>
        {% endfor %}
          <ul>
        {% for item in site.data.english.services %}
          <li> {{ item }} </li>
        {% endfor %}
        </ul>
    </div>
    <div class="info">
        {% for item in site.data.spanish.title %}
          <h2>{{ item }}</h2>
        {% endfor %}
          <ul>
        {% for item in site.data.spanish.services %}
          <li> {{ item }} </li>
        {% endfor %}
        </ul>
    </div>
  </div>
</section>
<section id="contact" class="contact">
  <div class="wrapper contact-wrapper">
    <div class="info">
      <h1>Contact Us</h1>
      <p><a href="mailto:info@HerCepServices.com?subject=Website%20Contact">info@HerCepServices.com</a> <br> <a href="tel:1-646-207-3460">646-207-3460</a></p>
    </div>
    <div class="info">
      <form action="https://formspree.io/info@hercepservices.com"
      method="POST">
        <label for="name">Full Name</label><br>
        <input type="text" name="name"><br>
        <label for="name">E-Mail</label><br>
        <input type="email" name="email"><br>
        <label for="name">Message</label><br>
        <textarea name="message"></textarea><br>
        <input type="hidden" name="_next" value="/thank-you/" />
        <input type="hidden" name="_subject" value="New Website Contact" />
        <input type="text" name="_gotcha" style="display:none" />
        <input type="submit" value="Send">
      </form>
    </div>
  </div>
</section>