<footer class="site-footer">

  <div class="wrapper flex-wrapper">
    <div class="footer-description">
      <h2 class="footer-heading">{{ site.title }}</h2>
      <p>
        <small>
          Focus on your growth knowing your finances are in order
        </small>
      </p>
    </div>
    <div class="footer-copyright">
      <p>&copy; HerCep Services 2017</p>
      <a href="#about">About</a>
      <a href="#services">Services</a>
      <a href="#contact">Contact</a>      
    </div>
  </div>

</footer>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/javascript/smooth-scroll.js"></script>
<script src="/javascript/main.js"></script>